dependabot-pr-test/obj/dependabot-pr-test.csproj.nuget.dgspec.json
dependabot-pr-test/obj/dependabot-pr-test.csproj.nuget.g.props
dependabot-pr-test/obj/dependabot-pr-test.csproj.nuget.g.targets
dependabot-pr-test/obj/project.assets.json
dependabot-pr-test/obj/project.nuget.cache
dependabot-pr-test/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
dependabot-pr-test/obj/Debug/net8.0/dependabot-pr-test.AssemblyInfo.cs
dependabot-pr-test/obj/Debug/net8.0/dependabot-pr-test.AssemblyInfoInputs.cache
dependabot-pr-test/obj/Debug/net8.0/dependabot-pr-test.assets.cache
dependabot-pr-test/obj/Debug/net8.0/dependabot-pr-test.csproj.AssemblyReference.cache
dependabot-pr-test/obj/Debug/net8.0/dependabot-pr-test.GeneratedMSBuildEditorConfig.editorconfig
dependabot-pr-test/obj/Debug/net8.0/dependabot-pr-test.GlobalUsings.g.cs
